<div class="container">
    <div class="form-container">
      <h1>Get Started Now</h1>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name" placeholder="Enter your name" />
  
        <label for="email">Email address</label>
        <input id="email" type="email" formControlName="email" placeholder="Enter your email" />
  
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" placeholder="Enter your password" />
  
        <div class="checkbox-container">
          <input id="agree" type="checkbox" formControlName="agree" />
          <label for="agree">I agree to the <a href="#">terms & policy</a></label>
        </div>
  
        <button type="submit" [disabled]="!signupForm.valid">Signup</button>
      </form>
  
      <div class="or-divider">or</div>
  
      <button class="google-signin">Sign in with Google</button>
      
      <div class="signin-link">
        Have an account? <a href="/signin">Sign In</a>
      </div>
    </div>
    <div class="image-container">
      <img src="https://cdn.pixabay.com/photo/2013/05/20/05/34/human-112227_1280.jpg" alt="People and barcode" />
    </div>
  </div>
  