.polls-container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.poll {
  background-color: #1f1f1f;
  color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

h1 {
  color: #FA5C6B;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

button {
  background-color: #6200ea;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button.selected {
  background-color: #3700b3;
}

button:hover {
  background-color: #3700b3;
}

span {
  margin-left: 10px;
}

.add-poll-button {
  background-color: #F4337A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

.delete-button {
  background-color: #e53935;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.popup-content input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.popup-content button {
  margin: 5px;
}
