<div class="container">
    <div class="form-container">
      <h1>Reset Password</h1>
      <p>Enter your new password</p><br>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <label for="password">New Password</label>
        <input id="password" type="password" formControlName="password" placeholder="Enter your new password" />
  
        <label for="confirmPassword">Confirm New Password</label>
        <input id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="Confirm your new password" />
  
        <button type="submit" [disabled]="!resetPasswordForm.valid">Reset Password</button>
      </form>
      <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </div>
  </div>
  